@import url('http://fonts.googleapis.com/css?family=Arya&subset=latin,latin-ext');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5vw;
  font-family: 'Arya', sans-serif;
}

body {
  margin: 0;
  
  background-color: white;
  box-sizing: border-box;
  color: #1a1a1d;
  
}
/*
  KOLORY :

  zielony:  #a0af22


*/

